@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
*{font-family:'Raleway', sans-serif}
html, body{height:100%}
body{margin:0}
.student-card{border:1px solid #ADAAAD;position:absolute;top:0;bottom:0;left:0;right:0;margin:auto;overflow-y:scroll;height:80vh;width:50vw;background-color:#FFFFFF}
.student-card-child{display:flex;justify-content:center;align-items:center}
.student-image{display:block;border-radius:200px;box-sizing:border-box;border:1px solid #ADAAAD;height:100px;width:100px}
.w-100{width:100%}
.w-50{width:50%}
.w-15{width:15%}
.card-border-bottom{border-bottom:1px solid #ADAAAD}
.mat-form-field-appearance-fill .mat-form-field-flex{background-color:white}